Throw if the user-pass is missing a colon

https://datatracker.ietf.org/doc/html/rfc7617#page-5

> To receive authorization, the client
> 
>    1.  obtains the user-id and password from the user,
> 
>    **2.  constructs the user-pass by concatenating the user-id, a single**
>        **colon (":") character, and the password,**
> 
>    3.  encodes the user-pass into an octet sequence (see below for a
>        discussion of character encoding schemes),
> 
>    4.  and obtains the basic-credentials by encoding this octet sequence
>        using Base64 ([[RFC4648], Section 4](https://datatracker.ietf.org/doc/html/rfc4648#section-4)) into a sequence of US-ASCII
>        characters ([[RFC0020](https://datatracker.ietf.org/doc/html/rfc0020)]).

https://github.com/TooTallNate/node-https-proxy-agent/blob/d0d80cc0482f20495aa8595f802e1a9f3b1b3409/src/agent.ts#L107-L109

The username and password are now read from the `URL` object, so I believe this should no longer be an issue. See [here](https://github.com/TooTallNate/proxy-agents/blob/f30ed328bd6fdc406fa4f6e545029f12e7130607/packages/https-proxy-agent/src/index.ts#L108-L116).